/*----- global -----*/
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  line-height: 3.5em;
}

a {
  text-decoration: none;
  color: black;
}

li a {
  color: black;
}

li {
  list-style-type: none;
}

img {
  width: 300px;
  height: 200px;
}

:focus {
  border: solid 3px;
  background: yellow;
}



main {
  background: linear-gradient(to top, rgba(255,255,255,1), rgba(255,100,155,1), rgba(255,255,255,1));
  padding: 100px 0;
  animation: colourChange 10s infinite linear;
  border-radius: 3%;
}

@keyframes colourChange {
  50% {
    background: linear-gradient(to top, rgba(255,100,155,1), rgba(255,255,255,1), rgba(255,100,155,1));
  }
}

.footer {
  background: url(../images/feathers.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  padding: 10vh 0;
  text-align: center;
  margin: 200px auto 0;
}

/*----- classes -----*/
/*----- navigation -----*/
.background {
  background: url(../images/feathers.jpg); 
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding-bottom: 20vh;
}
.nav {
  width: 100%;
}
.navItems {
  display: block;
}
.navListLeft, .navListRight {
  width: 50%;
  background:rgba(255,255,255,1);
  text-align: center;
  padding-bottom: 10px;
}
.navListLeft a, .navListRight a {
  color: rgba(0,0,0,1);
}
.navListLeft {
  float: left;
}
.navListRight {
  float: right;
}
.navList {
  clear: both;
  display: block;
  font-size: 2em;
  margin: 0;
  padding: 0;
}
@media only screen and (max-width: 400px) {
  .navList {
    margin: 2px 0;
    padding: 10px 0;
  }
}
.navList a {
  padding: 10px 20px;
}
@media only screen and (min-width: 800px) {
  .navList {
    display: inline;
  }
  .navList {
    line-height: 2em;
  }
}
@media only screen and (min-width: 1140px) {
  .navList a {
    padding: 10px 20px;
  }
}

.navList a:hover {
  background: rgba(0, 0, 0,.8);
  border-radius: 25%;
}
.navListHome a:hover {
  color: rgba(255,100,255,1);
}
.navListShop a:hover {
  color: rgba(255,100,155,1);
}
.navListPrivacy a:hover {
  color: rgba(255,200,100,1);
}
.navListFAQ a:hover {
  color: rgba(150,000,200,1);
}
.navListStore a:hover {
  color: rgba(100,100,255,1);
}
.navListPartnership a:hover {
  color: rgba(000,200,100,1);
}
.active {
  color: rgba(255,255,255,1);
}


/* header */
.header .title {
  text-align: center;
  color: black;
  font-size: 20vmin;
  height: 60vh;
  position: relative;
  top: 30vmin;
  cursor: default;
}
.header .text {
  font-size: 3.5em;
  border-radius: 80px;
  padding: 40px;
  margin: 40px;
  text-align: center;
  opacity: 0.8;
  box-shadow: rgb(0, 0, 0) 0px 0px 50px 20px;
  background: rgba(255,255,255,0.7);
}


.subHeader {
  font-size: 3em;
  text-align: center;
}

/* card keyframes */
.cardBox {
  text-align: center;
  margin: 100px 0 200px;
}
.cardBox .image__I {
  background-image: url(../images/lorimersloyaltyCard.png);
  width: 400px;
  height: 300px;
  border-bottom: solid 10px green;
  border-radius: 30%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  background-blend-mode: multiply;
}
.cardBox a .text {
  background: black;
  color: white;
  margin-top: -70px;
  width: 100%;
}
.cardBox a .text:hover {
  text-shadow: 5px 5px green;
  color: white;
  background: black;
  padding: 10px 0;
  width: 100%;
}


/*----- main -----*/
.categoryBox {
  text-align: center;
  margin: 50px 0 0;
}
.imageContainer, .imageContainer .text {
  border-radius: 20%;
}
.imageContainer {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  position: relative;
  height: 400px;
  width: 350px;
  display: inline-block;
  margin: 20px 10px;
  border-bottom: solid 20px white;
  border-top: solid 20px white;
}
.imageContainer .text {
  background: black;
  color: white;
  font-size: 2.7em;
  line-height: 1em;
  font-weight: 900;
  margin: 0;
  padding: 10px;
  width: 100%;
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  mix-blend-mode: multiply;
}
a:hover .text {
  background: black;
  color: white;
  font-size: 5em;
}
.image__I {
  background-image: url(../images/colored-pencils.jpg);
}
.image__II {
  background-image: url(../images/gift.jpg);
}
.image__III {
  background-image: url(../images/greetingCard.jpg);
}
.image__IV {
  background-image: url(../images/toys.jpg);
}


/*----- footer -----*/
.footerWrapper {
  background: black;
  opacity: 0.6;
  position: relative;
  bottom: 100px;
  padding: 50px 50px;
}

.left, .legal {
  color: rgba(255,255,255,1);
  /* margin: 0 auto; */
}

.left {
  font-size: 2em;
  
}

.legal {
  font-size: 1.5em;
}

.email {
  background: rgba(255,255,255,1);
  border-radius: 30%;
  padding: 10px;
  margin: 20px 0;
  display: inline-block;
  font-size: 1.5em;
}

.email:hover {
  background: rgba(150,000,200,1);
  color: rgba(255,255,255,1);
}

.footerRights {
  background: rgba(255,255,255,.7);
  border-radius: 50%;
  width: 50%;
  margin: 50px auto;
  padding: 20px;
  font-size: 1.1em;;
}

.green {
  color: #16e0bd;
}

/*----- id's -----*/
#backToTop a {
  font-size: 3em;
  color: black;
  background: white;
  border-radius: 50px;
  padding: 20px;
  margin: 20px 0;
  position: absolute;
  right: 0px;
}

#backToTop a:hover {
  background: pink;
  color: white;
}

/* group */
.email:hover, #backToTop a:hover {
  transition: ease-in .5s;
}

#backToTop {
  position: relative;
  bottom: 100px;
}

/*----- media -----*/
/* 500px */
@media only screen and (min-width: 500px) {
  .header .title {
    height: 100vh;
  }
}

/* 768px */
@media only screen and (min-width: 768px) {
  .container {
    flex: 50%;
  }
}

/* 1100px screen */
@media only screen and (min-width: 1100px) {
  .footerWrapper {
    display: grid;
    grid-template-columns: auto auto;
    grid-gap: 20px;
  }
  .left {
    padding: 0 100px 0 50px;
  }
}

/* 1200px screen */
@media only screen and (min-width: 1200px) {
  body {
    display: contents;
  }
  .wrapper {
    grid-template-columns: auto auto auto;
  }
  .centered {
    width: 50%;
  }
  .left {
    margin: auto 0;
  }
  header h2 {
    font-size: 8vmin;
  }
}