/*----- global -----*/
* {
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

body {
  margin: 0;
  padding: 0;
}

header h1 {
  text-align: center;
  color: black;
  font-size: 20vmin;
  height: 60vh;
  position: relative;
  top: 30vmin;
  cursor: default;
}

header h2 {
  line-height: 2em;
  font-size: 3.5em;
  padding: 0 40px;
  border-radius: 80px;
  padding: 40px;
  margin: 40px;
  text-align: center;
  opacity: 0.8;
  box-shadow: rgb(0, 0, 0) 0px 0px 50px 20px;
  background: rgba(255,255,255,0.7);
}

nav {
  background: lightgreen;
  font-size: 1.5em;
  text-align: center;
}

nav a:hover {
  color: white;
  transition: ease-out 1s;
}

li a {
  display: none;
  color: black;
  margin: 0 20px;
}

li {
  list-style-type: none;
  display: inline-block;
}

main {
  background: linear-gradient(to top, rgba(255,255,255,1), rgba(255,100,155,1), rgba(255,255,255,1));
  padding: 100px;
  animation: colourChange 10s infinite linear;
  border-radius: 3%;
}

@keyframes colourChange {
  50% {
    background: linear-gradient(to top, rgba(255,100,155,1), rgba(255,255,255,1), rgba(255,100,155,1));
  }
}

footer {
  background: url(../images/feathers.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  padding: 10vh 0;
  text-align: center;
  margin: 50px 0;
}

/*----- classes -----*/
/*----- navigation -----*/
.background {
  background: url(../images/feathers.jpg); 
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding-bottom: 20vh;
}

.menuIcon {
  width: 35px;
  height: 5px;
  background: black;
  /*margin: 6px 0;*/
  margin-top: 6px;
  margin-bottom: 6px;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  top: 20px;
}

/*----- header -----*/
/* .headerH2 {
  
} */

.subHeader {
  font-size: 3em;
  text-align: center;
  line-height: 2em;
  /*border-radius: 80px;*/
  /*margin: 20px;*/
  /*background-image: linear-gradient(to right, rgb(241, 48, 48), rgb(241, 241, 80), rgb(136, 72, 136), rgb(65, 193, 202));*/
}

.subHeader img {
  width: 80vw;
  height: 55vh;
  border: dotted 5px rgba(255,100,255,1);
  border-radius: 40%;
  padding: 20px;
  animation: subHeaderImg 10s infinite;
  /* border-width: 50px; */
  /* border-style: dotted; */
  /* transition: .6s linear border-width; */
}

/* .subHeader Img:hover {
  border-width: 20px;
  border: solid 10px yellow;
  border-style: dotted;
  transition: .6s linear border-width;
} */

@keyframes subHeaderImg {
  25% {
    border: dotted 15px rgba(255,200,100,1);
    transition: ease-in-out;
    /* border-width: 20px; */
  }
  50% {
    border: dotted 25px rgba(100,100,255,1);
    transition: ease-in-out;
  }
  75% {
    border: dotted 15px rgba(000,200,100,1);
    transition: ease-in-out;
  }
  100% {
    border: dotted 5px rgba(255,100,155,1);
    transition: ease-in-out;
}
}

.loyaltyCard {
  position: relative;
  height: 60vh;
}

.clickHere {
  position: absolute;
  text-align: center;
  top: 40%;
  width: 100%;
  font-size: 2.5em;
}

.clickHere a {
  border-radius: 40%;
  box-shadow: 10px 10px;
  padding: 10px;
  background: rgba(255,255,255,0.7);
  color: rgba(000,000,000,1);
}

.clickHere a:hover {
  color: rgba(150,000,200,1);
}


/*----- main -----*/
.centered {
  font-size: 7em;
  color: rgb(0,0, 0, 0.9);
  border: none;
  border-radius: 30%;
  padding: 10px;
  background: rgba(255,255,255,0.6);
  box-shadow: 10px 10px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.centered:hover {
  color: rgba(255,255,255,1);
  background:rgba(0, 0, 0,.6);
  /* color: rgba(150,000,200,1); */
  /* background: rgba(0,0,0,.7); */
}

.container {
  position: relative;
  display: grid;
  grid-template-columns: auto auto;
  margin: 0 20px;
}

/* .containerHover {
  opacity: 0.6;
  transition: ease-out 1s;
} */



.containerImage {
  width: 100%;
  height: 500px;
  border-radius: 100px;
}

.wrapper {
  display: grid;
  grid-gap: 50px;
}

/*----- footer -----*/
.footerWrapper {
  background: black;
  opacity: 0.6;
  position: relative;
  bottom: 100px;
  padding: 50px 50px;
}

.left, .legal {
  color: white;
}

.left {
  font-size: 2em;
  padding-right: 100px;
}

.legal {
  font-size: 1.5em;
}

.email {
  background: rgba(255,255,255,1);
  border-radius: 30%;
  padding: 10px;
  font-size: 1.5em;
}

.email:hover {
  background: rgba(150,000,200,1);
  color: rgba(255,255,255,1);
}

.footerRights {
  background: rgba(255,255,255,.7);
  border-radius: 50%;
  width: 50%;
  margin: 0 auto;
  padding: 20px;
  font-size: 1.1em;;
}

/*----- id's -----*/
#backToTop a {
  font-size: 3em;
  color: black;
  background: white;
  border-radius: 50px;
  padding: 20px;
  position: absolute;
  right: 0px;
}

#backToTop a:hover {
  background: pink;
  color: white;
  transition: ease-in 1s;
}

#backToTop {
  position: relative;
  bottom: 100px;
}

/*----- media -----*/
/* 768px screen */
@media only screen and (min-width: 768px) {
  body {
    display: contents;
  }
  .wrapper {
    display: grid;
    grid-template-columns: auto auto;
    grid-gap: 50px;
    margin: 0 20px;
  }
  .containerImage {
    border-radius: 100px;
  }
  .centered {
    font-size: 8vmin;
  }
  .footerWrapper {
    display: grid;
    grid-template-columns: auto auto;
    grid-gap: 20px;
  }
}

/* 1200px screen */
@media only screen and (min-width: 1200px) {
  body {
    display: contents;
  }
  .wrapper {
    grid-template-columns: auto auto auto;
  }
  .centered {
    font-size: 6vmin;
  }
  .left {
    margin-top: auto;
    margin-bottom: auto;
  }
  header h2 {
    font-size: 8vmin;
  }
  .subHeader img {
    width: 70vmin;
    height: auto;
  }
}
